<div style="padding: 2%;">
    <div class="col-lg-12">
        <div class="card card-primary card-outline shadow-lg">
            <div class="card-header">
                <h3 class="card-title"> <i class="fas fa-money-check-alt mr-2"></i>Ajouter une dépense
                </h3>
                <div class="card-tools">
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row gy-2 gx-3 align-items-center">
                        <div class="col-sm-4">
                            <label for="country" class="form-label mr-3" style="font-size: small;color: lightslategrey;">Mode :</label>
                            <select class="form-select" id="country" style="font-size: small;" required>
                      <option>Chèque</option>
                      <option>Traite</option>
                    </select>
                        </div>
                    </div>
                    <hr class="my-4">
                    <div class="row gy-2 gx-3 align-items-center">
                        <div class="col-sm-4">
                            <label for="fournisseur" style="font-size: small;color: lightslategrey;">Fournisseur :</label>
                            <input type="text" name="client" class="form-control" style="font-size: small;" required>
                        </div>
                        <div class="col-sm-4">
                            <label for="montant" style="font-size: small;color: lightslategrey;">Montant :</label>
                            <input type="number" name="montant" class="form-control" style="font-size: small;" required>
                        </div>

                    </div>
                    <hr class="my-4">
                    <div class="row g-3 ">
                        <div class="col-sm-4">
                            <label for="categorie" style="font-size: small;color: lightslategrey;">Catégorie :</label>
                            <input type="text" name="categorie" style="font-size: small;" class="form-control" required>
                        </div>
                        <div class="col-md-4">
                            <label for="Dr" style="font-size: small;color: lightslategrey;">Date de règlement :</label>
                            <input type="date" name="Dr" style="font-size: small;" class=" form-control" required>
                        </div>
                    </div>
                    <hr class="my-4 ">
                    <div class="row g-3 ">
                        <div class="col-md-4">
                            <label for="note" style="font-size: small;color: lightslategrey;">Note:</label>
                            <textarea class="form-control" style="font-size: small;" requiredcols="60">
                              </textarea>
                        </div>
                    </div>
                    <hr class="my-4 ">
                    <div class=" text-right ">
                        <button type="button " style="font-size: small; " class="btn btn-danger mr-2 ">Annuler</button>
                        <button type="submit " style="font-size: small; " class=" btn btn-primary ">Enregistrer</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
