<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="/rcomf" class="brand-link" style="height:100px;">
        <img src="./assets/ASK.jpg" class=" rounded-circle " style="height:70px;width:60px;">
        <span class="brand-text font-weight-light ml-3" style="font-size: x-large;">ASKUISINES</span>
    </a>
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host">
            <div class="os-resize-observer observed" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer observed"></div>
        </div>
        <div class="os-content-glue" style="margin: 0px -8px; width: 249px; height: 729px;"></div>
        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible" style="overflow-y: scroll;">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                        <div class="image">
                            <i class="nav-icon fas fa-user-edit ml-2 mt-2" style="color:white;font: x-large;"></i>
                        </div>
                        <div class="info">
                            <a href="rvente/RespCompte" class="d-block">{{name}}</a>
                        </div>
                    </div>
                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                            <li class="nav-item has-treeview">
                                <a routerLink="/rcomf" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" class="nav-link">
                                    <i class=" nav-icon fas fa-desktop"></i>
                                    <p>
                                        Dashboard
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview">
                                <a routerLink="treso" routerLinkActive="active" class="nav-link">
                                    <i class="nav-icon fas fa-wallet "></i>
                                    <p>
                                        Trésorerie
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview ">
                                <a routerLink="comp" routerLinkActive="active" class="nav-link">
                                    <i class="nav-icon fas fa-credit-card"></i>
                                    <p>
                                        Compte Bancaire
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview ">
                                <a routerLink="chtr" routerLinkActive="active" class="nav-link">
                                    <i class="nav-icon fas fa-money-check-alt"></i>
                                    <p>
                                        Chèque Et Traite
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview ">
                                <a routerLink="bc" routerLinkActive="active" class="nav-link">
                                    <i class="nav-icon fas fa-chart-line"></i>
                                    <p>
                                        Balance Client
                                    </p>
                                </a>
                            </li>
                            <li class="nav-item has-treeview ">
                                <a routerLink="bf" routerLinkActive="active" class="nav-link">
                                    <i class="nav-icon fas fa-chart-line"></i>
                                    <p>
                                        Balance Fournisseur
                                    </p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden ">
            <div class="os-scrollbar-track ">
                <div class="os-scrollbar-handle " style="width: 100%; transform: translate(0px, 0px); "></div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden ">
            <div class="os-scrollbar-track ">
                <div class="os-scrollbar-handle " style="height: 64.5447%; transform: translate(0px, 0px); "></div>
            </div>
        </div>
        <div class="os-scrollbar-corner "></div>
    </div>
</aside>