<div style="padding: 2%;">
    <div class="col-lg-12">
        <div class="card card-primary card-outline shadow-lg p-3 mb-5 bg-white rounded">
            <div class="card-header">
                <h3 class="card-title"> <i class="fas fa-home mr-2"></i>Accueil</h3>
                <div class="card-tools">
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-gradient-primary" style="font-size: small;">
                            <div class="inner">
                                <h3>{{nbprod[2]}}<sup style="font-size: 20px"></sup></h3>
                                <p>Fournisseurs</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-user"></i>
                            </div>
                            <a href="rachat/fournisseur" class="small-box-footer">Plus d'Info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-gradient-primary" style="font-size: small;">
                            <div class="inner">
                                <h3>{{nbprod[0]}}<sup style="font-size: 20px"></sup></h3>
                                <p>Produits</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-box-open"></i>
                            </div>
                            <a href="rachat/Products" class="small-box-footer">Plus d'Info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">
                        <div class="small-box bg-primary" style="font-size: small;">
                            <div class="inner">
                                <h3>0<sup style="font-size: 20px"></sup></h3>

                                <p>Commandes Achat</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-file-alt"></i>
                            </div>
                            <a href="rachat/achat/commf" class="small-box-footer">Plus d'Info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-6">

                        <div class="small-box bg-primary" style="font-size: small;">
                            <div class="inner">
                                <h3>{{nbprod[1]}}</h3>
                                <p>Factures Achat</p>
                            </div>
                            <div class="icon">
                                <i class="fas fa-file-alt"></i>
                            </div>
                            <a href="rachat/achat/facturef" class="small-box-footer">Plus d'Info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div _ngcontent-omb-c14="" class="row">
                            <div _ngcontent-omb-c14="" class="col-sm-6 pr-0">
                                <div _ngcontent-omb-c14="" class="media border-after-xs">
                                    <div _ngcontent-omb-c14="" class="align-self-center mr-3 text-left text-wd">
                                        <h6 _ngcontent-omb-c14="" class="mb-1" style="font-size: small;color: steelblue;">Achat</h6>
                                        <h5 _ngcontent-omb-c14="" class="mb-0" style="font-size: small;color: steelblue;">Aujourd'hui</h5>
                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body align-self-center">
                                        <i _ngcontent-omb-c14="" class="font-primary" data-feather="minus"></i>
                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body">
                                        <h5 _ngcontent-omb-c14="" class="mb-0"><span _ngcontent-omb-c14="" class="counter" counto="" style="font-size: small;color: steelblue;">{{stat[4]}}&nbsp;EUR</span></h5>
                                    </div>
                                </div>
                                <br>
                            </div>
                            <div _ngcontent-omb-c14="" class="col-sm-6 pl-0">
                                <div _ngcontent-omb-c14="" class="media">
                                    <div _ngcontent-omb-c14="" class="align-self-center mr-3 text-left text-wd">
                                        <h6 _ngcontent-omb-c14="" class="mb-1" style="font-size: small;color: steelblue;">Achat</h6>
                                        <h5 _ngcontent-omb-c14="" class="mb-0" style="font-size: small;color: steelblue;">Mois</h5>
                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body align-self-center">
                                        <i _ngcontent-omb-c14="" class="font-primary" data-feather="arrow-up"></i>
                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body pl-2">
                                        <h5 _ngcontent-omb-c14="" class="mb-0"><span _ngcontent-omb-c14="" class="counter" counto="" style="font-size: small;color: steelblue;">{{stat[6]}}&nbsp;EUR</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-omb-c14="" class="col-sm-6 pr-0">
                                <div _ngcontent-omb-c14="" class="media border-after-xs">
                                    <div _ngcontent-omb-c14="" class="align-self-center mr-3 text-left text-wd">
                                        <h6 _ngcontent-omb-c14="" class="mb-1" style="font-size: small;color: steelblue;">Achat</h6>
                                        <h5 _ngcontent-omb-c14="" class="mb-0" style="font-size: small;color: steelblue;">Semaine</h5>
                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body align-self-center">

                                        <i _ngcontent-omb-c14="" class="font-primary" data-feather="arrow-down"></i>

                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body">
                                        <h5 _ngcontent-omb-c14="" class="mb-0"><span _ngcontent-omb-c14="" class="counter" counto="" style="font-size: small;color: steelblue;">{{stat[5]}}&nbsp;EUR</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div _ngcontent-omb-c14="" class="col-sm-6 pl-0">
                                <div _ngcontent-omb-c14="" class="media">
                                    <div _ngcontent-omb-c14="" class="align-self-center mr-3 text-left text-wd">
                                        <h6 _ngcontent-omb-c14="" class="mb-1" style="font-size: small;color: steelblue;">Achat</h6>
                                        <h5 _ngcontent-omb-c14="" class="mb-0" style="font-size: small;color: steelblue;">Année</h5>
                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body align-self-center">
                                        <i _ngcontent-omb-c14="" class="font-primary" data-feather="arrow-up"></i>
                                    </div>
                                    <div _ngcontent-omb-c14="" class="media-body pl-2">
                                        <h5 _ngcontent-omb-c14="" class="mb-0"><span _ngcontent-omb-c14="" class="counter" counto="" style="font-size: small;color: steelblue;">{{stat[7]}}&nbsp;EUR</span></h5>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title ml-4">FOURNISSEURS PAR CHIFFRE D'AFFAIRES</h5>
                                <hr class="mt-5">
                                <table class="table" style="font-size: small;">
                                    <thead>
                                        <tr style="color: gray;">
                                            <th>Fournisseur</th>
                                            <th>HT EUR</th>
                                            <th>TTC EUR</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr *ngFor="let f of facturef">
                                            <th style="color: gray;">{{f.Nom_fournisseur}}</th>
                                            <td style="color: steelblue;">{{f.Total_HT}}</td>
                                            <td style="color: forestgreen;">{{f.Montant_TTC}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title ml-4">FOURNISSEURS PAR ETAT / DELAI PAIEMENT</h5>
                                <hr class="mt-5">
                                <table class="table" style="font-size: small;">
                                    <thead>
                                        <tr style="color: gray;">
                                            <th>Fournisseur</th>
                                            <th>Etat</th>
                                            <th>TTC EUR</th>
                                        </tr>
                                    </thead>
                                    <tbody id="myTable">
                                        <tr *ngFor="let f of facturef">
                                            <th style="color: gray;">{{f.Nom_fournisseur}}</th>
                                            <td [ngStyle]="{'color':getColor(f.Etat)}">{{f.Etat}}</td>
                                            <td>{{f.date_echeance}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>